<div>
  <button class="w-4/5 p-2 m-4 bg-blue-400 rounded text-center" (click)="createDeck()">Create new Deck!</button>
</div>
<li class="my-4 list-none divide-y" *ngFor="let deck of deckList">
  <div class="flex justify-between bg-gradient-to-r from-blue-500 to-transparent 
    p-2 rounded items-center border">
    <span class="font-bold text-slate-50">{{ deck.name }}</span>
    <div class="flex justify-between">
      <button class="p-2 m-2 bg-blue-400 rounded text-center" (click)="editDeck(deck)">
        <i class="fa-solid fa-pen text-2xl text-slate-50"></i>
      </button>
      <button class="p-2 m-2 bg-red-500 rounded text-center" (click)="deleteDeck(deck)">
        <i class="fa-solid fa-trash text-2xl text-slate-50"></i>
      </button>
      <span class="font-bold p-2 rounded bg-yellow-700 text-slate-50">x{{ deck.cardList.length }}</span>
    </div>
  </div>
</li>