<div class="flex">
  <input class="bg-slate-300 p-2 focus:outline-none ring focus:border-blue-500 text-slate-800 my-4 rounded" type="text"
    [(ngModel)]="inputValue">
  <button class="bg-blue-500 text-slate-50 m-4 p-2 rounded" (click)="filter()">Search</button>
</div>

<div class="flex max-h-full flex-wrap overflow-auto">

  <div class="p-4 " *ngFor="let card of cardList">
    <h2 class="text-lg mb-2 text-slate-50">{{ card.name }}</h2>
    <img [src]="card.images.small" alt="card.name"
      class="mb-2 rounded object-cover shadow-md hover:shadow-xl transform hover:scale-105 transition-all duration-300"
      (click)="viewDetail(card)">
    <div class="flex flex-wrap">
      <button class="bg-blue-500 hover:bg-blue-700 text-slate-50 font-bold py-2 px-4 rounded-l-lg flex-1"
        (click)="addCard(card)">
        <i class="fa-solid fa-plus"></i>
      </button>
      <button
        class="bg-red-400  hover:bg-red-600  text-slate-50 font-bold py-2 px-4 rounded-r-lg flex-1 disabled:bg-gray-400"
        [disabled]="!containsCard(card)" (click)="removeCard(card)">
        <i class="fa-solid fa-minus"></i>
      </button>
    </div>
  </div>

</div>